.App {
  display: grid;
  grid-template-columns:100%;
  grid-auto-rows: max-content;
  grid-template-areas: "nav" "section";
  width: 100%;
  height: 100% !important;
}

.App section {
    grid-area: section;
    overflow-y: scroll;
    padding: 16px;
    display: grid;
    overflow-x: hidden;
}

.App nav {
    grid-area: nav;
}

@media only screen and (min-width:768px) {
    .App {
       padding:30px ;
      }
      
}

@media  only screen and (min-width:1200px)  {
    .App {
        grid-template-columns: min-content auto;
        grid-auto-rows: 100%;
        grid-template-areas: "nav section";
        margin:0px 10px;
        padding: 0px;
    } 
    
    .App section {
       padding-top: 40px;
    }
    
}

